<nav>
  <div>
    <a href="/">
      <h1>
        Redis Test
      </h1>
    </a>
  </div>
  <div>
    <a href="/products">Products</a>
  </div>
  <div>
    <a href="/favorites">Favorites</a>
  </div>
  <div class="login-form-container">
    <form id="login-form">
      <input type="text" name="username">
      <input type="submit" value="Login">
    </form>
  </div>
</nav>