<!DOCTYPE html>
<html>
  <head>
    <% include _head %>
  </head>
  <body>
    <% include _nav %>
    <button class="clear-favorites">
      Clear
    </button>
    <div class="content-mid">
      <% data && data.forEach(function(elem){ %>
        <div class="product">
          <div class="product-img-container">
            <img class="product-image" src="<%= elem.imgURL %>">
          </div>
          <div class="product-description">
            <div><%= elem.name %> <%= elem.price %></div>
            <div>SKU: <%= elem.sku %></div>
          </div>
        </div>
      <% }) %>
    <div>
  </body>
</html>