<!DOCTYPE html>
<html>
  <head>
    <% include _head %>
  </head>
  <body>
    <% include _nav %>
    <h1>Home</h1>
    <div class="content-mid">
      <a href="/products">Products</a>
      <a href="/favorites">Favorites</a>
    </div>
  </body>
</html>