<!DOCTYPE html>
<html>
  <head>
    <% include _head %>
  </head>
  <body>
    <% include _nav %>

    <div class="content-mid">

      <div class="product" sku="1" name="Glue" price="5.99">
        <div class="product-img-container">
          <img class="product-img" src="images/glue.jpeg">
        </div>
        <div class="product-description">
          <div>Glue 5.99</div>
          <div>SKU: 1</div>
        </div>
        <button class="favorite-button">
          <img src="images/heart_icon.png">
        </button>
      </div>

      <div class="product" sku="2" name="Pencils" price="1.99">
        <div class="product-img-container">
          <img class="product-img" src="images/pencils.jpg">
        </div>
        <div class="product-description">
          <div>Pencils 1.99</div>
          <div>SKU: 2</div>
        </div>
        <button class="favorite-button">
          <img src="images/heart_icon.png">
        </button>
      </div>

      <div class="product" sku="3" name="Notebook" price="4.99">
        <div class="product-img-container">
          <img class="product-img" src="images/notebook.png">
        </div>
        <div class="product-description">
          <div>Notebook 4.99</div>
          <div>SKU: 3</div>
        </div>
        <button class="favorite-button">
          <img src="images/heart_icon.png">
        </button>
      </div>

      <div class="product" sku="4" name="Brushes" price="11.99">
        <div class="product-img-container">
          <img class="product-img" src="images/brushes.jpg">
        </div>
        <div class="product-description">
          <div>Brushes 11.99</div>
          <div>SKU: 4</div>
        </div>
        <button class="favorite-button">
          <img src="images/heart_icon.png">
        </button>
      </div>

      <div class="product" sku="5" name="Crayons" price="4.99">
        <div class="product-img-container">
          <img class="product-img" src="images/crayons.jpeg">
        </div>
        <div class="product-description">
          <div>Crayons 4.99</div>
          <div>SKU: 5</div>
        </div>
        <button class="favorite-button">
          <img src="images/heart_icon.png">
        </button>
      </div>

      <div class="product" sku="6" name="Paper" price="2.99">
        <div class="product-img-container">
          <img class="product-img" src="images/construction_paper.jpeg">
        </div>
        <div class="product-description">
          <div>Paper 2.99</div>
          <div>SKU: 6</div>
        </div>
        <button class="favorite-button">
          <img src="images/heart_icon.png">
        </button>
      </div>

      <div class="product" sku="7" name="Desk" price="149.99">
        <div class="product-img-container">
          <img class="product-img" src="images/desk.jpg">
        </div>
        <div class="product-description">
          <div>Desk 149.99</div>
          <div>SKU: 7</div>
        </div>
        <button class="favorite-button">
          <img src="images/heart_icon.png">
        </button>
      </div>

      <div class="product" sku="8" name="Ruler" price="3.99">
        <div class="product-img-container">
          <img class="product-img" src="images/ruler.jpg">
        </div>
        <div class="product-description">
          <div>Ruler 3.99</div>
          <div>SKU: 8</div>
        </div>
        <button class="favorite-button">
          <img src="images/heart_icon.png">
        </button>
      </div>

    </div>
    <script type="application/javascript" src="js/add_favorite.js"></script>
  </body>
</html>